Repository danieleschmidt/rlhf-audit-trail, changes with the owners that .github/CODEOWNERS names for each.
All owners: @danieleschmidt, @terragonlabs/core-team, @terragonlabs/security-team, @terragonlabs/compliance-team, @terragonlabs/ml-team, @terragonlabs/devops-team, @terragonlabs/docs-team, @terragonlabs/qa-team

.github/CODEOWNERS:

# CODEOWNERS - Automated code review assignments
# This file defines who owns specific parts of the codebase for automated review requests

# Global repository ownership
* @danieleschmidt @terragonlabs/core-team

# Critical security and compliance files
/security/ @danieleschmidt @terragonlabs/security-team
/compliance/ @danieleschmidt @terragonlabs/compliance-team
SECURITY.md @danieleschmidt @terragonlabs/security-team
sbom.yaml @danieleschmidt @terragonlabs/security-team

# AI/ML core components
/src/rlhf_audit_trail/ @danieleschmidt @terragonlabs/ml-team
/benchmarks/ @danieleschmidt @terragonlabs/ml-team

# Infrastructure and deployment
/deploy/ @danieleschmidt @terragonlabs/devops-team
/monitoring/ @danieleschmidt @terragonlabs/devops-team
docker-compose*.yml @danieleschmidt @terragonlabs/devops-team
Dockerfile* @danieleschmidt @terragonlabs/devops-team

# Documentation and processes
/docs/ @danieleschmidt @terragonlabs/docs-team
*.md @danieleschmidt @terragonlabs/docs-team

# Build and dependency management
pyproject.toml @danieleschmidt @terragonlabs/core-team
requirements*.txt @danieleschmidt @terragonlabs/core-team
requirements*.in @danieleschmidt @terragonlabs/core-team
Makefile @danieleschmidt @terragonlabs/core-team

# Testing infrastructure
/tests/ @danieleschmidt @terragonlabs/qa-team
pytest.ini @danieleschmidt @terragonlabs/qa-team
tox.ini @danieleschmidt @terragonlabs/qa-team

docs: add CI/CD and security workflow documentation and templates
  docs/SETUP_REQUIRED.md
  docs/workflows/examples/compliance-audit.yml
  docs/workflows/examples/slsa-provenance.yml
Owners: @danieleschmidt, @terragonlabs/docs-team

feat: add metrics tracking and automation scripts
  scripts/automation/dependency-updater.py
  scripts/automation/repository-health.py
Owners: @danieleschmidt, @terragonlabs/core-team

feat: complete SDLC implementation with repository configuration
  SDLC_IMPLEMENTATION_COMPLETE.md
Owners: @danieleschmidt, @terragonlabs/docs-team

feat(autonomous-sdlc): implement complete autonomous SDLC with ML-driven quality gates
  AUTONOMOUS_SDLC_FINAL_REPORT.md
  demo_production_reliability.py
  demo_progressive_quality_gates.py
  demo_quantum_optimization.py
  pyproject.toml
  src/rlhf_audit_trail/autonomous_ml_engine.py
  src/rlhf_audit_trail/enhanced_progressive_gates.py
  src/rlhf_audit_trail/production_reliability.py
  src/rlhf_audit_trail/quantum_scale_optimizer.py
  src/rlhf_audit_trail/robust_monitoring_system.py
  test_autonomous_quality_gates.py
Owners: @danieleschmidt, @terragonlabs/docs-team, @terragonlabs/core-team, @terragonlabs/ml-team

feat(research-framework): add quantum-enhanced algorithms and adaptive ML improvements
  AUTONOMOUS_SDLC_RESEARCH_REPORT.md
  demo_research_validation.py
  src/rlhf_audit_trail/adaptive_cache_system.py
  src/rlhf_audit_trail/autonomous_ml_engine.py
  src/rlhf_audit_trail/comprehensive_quality_gates.py
  src/rlhf_audit_trail/research_framework.py
Owners: @danieleschmidt, @terragonlabs/docs-team, @terragonlabs/core-team, @terragonlabs/ml-team

feat(quantum_scale_optimizer): add quantum scale optimizer simple implementation
  audit_data/annotations/3b0940b4-e7b0-46a7-b42a-eb41efdaab49/5cfda75f-9ff7-4998-b31e-30f69ccf6baa.json
  audit_data/annotations/70f6fc7f-63d1-466b-b133-8e1c42e80dce/44e823aa-99e8-4058-896e-5f4fd3d21075.json
  audit_data/annotations/70f6fc7f-63d1-466b-b133-8e1c42e80dce/47104876-cbc7-4e5b-86b0-81d73b423d02.json
  audit_data/annotations/70f6fc7f-63d1-466b-b133-8e1c42e80dce/4ad1c990-74d1-47dc-b638-3a582d738387.json
  audit_data/annotations/70f6fc7f-63d1-466b-b133-8e1c42e80dce/f2476041-9d25-45cb-a46b-f38dc1a540fa.json
  audit_data/annotations/70f6fc7f-63d1-466b-b133-8e1c42e80dce/f501e2c6-e9cc-4502-bec3-2f1799dd35ba.json
  audit_data/annotations/8d5194b8-208d-4bd4-bc77-0e68f6abac9a/3c223099-4198-4cfe-84b4-785219b00077.json
  audit_data/annotations/8d5194b8-208d-4bd4-bc77-0e68f6abac9a/4b5b4146-cb3c-4af0-994d-5884796ce9fb.json
  audit_data/annotations/8d5194b8-208d-4bd4-bc77-0e68f6abac9a/54af4048-e213-411e-98e7-62b8d7f39247.json
  audit_data/annotations/8d5194b8-208d-4bd4-bc77-0e68f6abac9a/ca536b5f-1dfd-40e2-887d-7891b3c0c414.json
  audit_data/annotations/8d5194b8-208d-4bd4-bc77-0e68f6abac9a/e9a8d1f4-2dad-449a-a2c4-c5097a5fc094.json
  audit_data/annotations/c3d06276-4acb-423d-9171-6be563bd808e/0e290554-1530-4548-b13f-9c4ba90841fe.json
  comprehensive_test_results.json
  quality_gates_results.json
  src/rlhf_audit_trail/autonomous_ml_engine.py
  src/rlhf_audit_trail/quantum_scale_optimizer_simple.py
Owners: @danieleschmidt, @terragonlabs/core-team, @terragonlabs/ml-team

feat(autonomous_research): introduce autonomous research orchestrator and quality gates
  AUTONOMOUS_SDLC_COMPLETION_REPORT.md
  autonomous_research_quality_report.json
  demo_autonomous_research_orchestrator.py
  demo_autonomous_research_orchestrator_standalone.py
  src/rlhf_audit_trail/autonomous_research_orchestrator.py
  test_autonomous_enhancements.py
Owners: @danieleschmidt, @terragonlabs/docs-team, @terragonlabs/core-team, @terragonlabs/ml-team

feat(autonomous_research): introduce autonomous research orchestrator and quality gates (#26)
  AUTONOMOUS_SDLC_COMPLETION_REPORT.md
  autonomous_research_quality_report.json
  demo_autonomous_research_orchestrator.py
  demo_autonomous_research_orchestrator_standalone.py
  src/rlhf_audit_trail/autonomous_research_orchestrator.py
  test_autonomous_enhancements.py
Owners: @danieleschmidt, @terragonlabs/docs-team, @terragonlabs/core-team, @terragonlabs/ml-team

feat(rlhf_audit_trail): add advanced ML quality gates, AI safety framework, federated learning auditor, quantum-safe crypto, and real-time bias detector
  src/rlhf_audit_trail/advanced_ml_quality_gates.py
  src/rlhf_audit_trail/ai_safety_research_framework.py
  src/rlhf_audit_trail/federated_learning_auditor.py
  src/rlhf_audit_trail/quantum_safe_crypto.py
  src/rlhf_audit_trail/realtime_bias_detector.py
  src/rlhf_audit_trail/research_benchmarks.py
Owners: @danieleschmidt, @terragonlabs/ml-team

feat(rlhf_audit_trail): add advanced ML quality gates, AI safety framework, federated learning auditor, quantum-safe crypto, and real-time bias detector (#27)
  src/rlhf_audit_trail/advanced_ml_quality_gates.py
  src/rlhf_audit_trail/ai_safety_research_framework.py
  src/rlhf_audit_trail/federated_learning_auditor.py
  src/rlhf_audit_trail/quantum_safe_crypto.py
  src/rlhf_audit_trail/realtime_bias_detector.py
  src/rlhf_audit_trail/research_benchmarks.py
Owners: @danieleschmidt, @terragonlabs/ml-team

feat(rlhf_audit_trail): add adaptive resilience system and hyper-scale quantum engine
  TERRAGON_COMPREHENSIVE_QUALITY_REPORT.json
  autonomous_research_quality_report.json
  comprehensive_test_results.json
  integration_validation_results.json
  performance_benchmark_results.json
  quality_gates_results.json
  security_scan_results.json
  src/rlhf_audit_trail/adaptive_resilience_system.py
  src/rlhf_audit_trail/enhanced_reliability.py
  src/rlhf_audit_trail/hyper_scale_quantum_engine.py
  src/rlhf_audit_trail/robust_monitoring_system.py
  test_env/bin/python
  test_env/bin/python3
  test_env/bin/python3.12
  test_env/lib64
  test_env/pyvenv.cfg
Owners: @danieleschmidt, @terragonlabs/core-team, @terragonlabs/ml-team

feat(rlhf_audit_trail): add adaptive resilience system and hyper-scale quantum engine (#28)
  TERRAGON_COMPREHENSIVE_QUALITY_REPORT.json
  autonomous_research_quality_report.json
  comprehensive_test_results.json
  integration_validation_results.json
  performance_benchmark_results.json
  quality_gates_results.json
  security_scan_results.json
  src/rlhf_audit_trail/adaptive_resilience_system.py
  src/rlhf_audit_trail/enhanced_reliability.py
  src/rlhf_audit_trail/hyper_scale_quantum_engine.py
  src/rlhf_audit_trail/robust_monitoring_system.py
  test_env/bin/python
  test_env/bin/python3
  test_env/bin/python3.12
  test_env/lib64
  test_env/pyvenv.cfg
Owners: @danieleschmidt, @terragonlabs/core-team, @terragonlabs/ml-team

feat: Claude OAuth-based improvements
  CLAUDE_IMPROVEMENTS.md
  IMPROVEMENT_PLAN.md
  claude_improvements_20250830_235159/.github/workflows/ci.yml
  claude_improvements_20250830_235159/IMPROVEMENT_PLAN.md
  claude_improvements_20250830_235159/context.md
  claude_improvements_20250830_235159/error_handler.py
  claude_improvements_20250830_235159/repository_structure.txt
  claude_improvements_20250830_235159/test_example.py
  context.md
  error_handler.py
  repository_structure.txt
  test_example.py
Owners: @danieleschmidt, @terragonlabs/docs-team, @terragonlabs/core-team

feat: Claude OAuth-based improvements (#29)
  CLAUDE_IMPROVEMENTS.md
  IMPROVEMENT_PLAN.md
  claude_improvements_20250830_235159/.github/workflows/ci.yml
  claude_improvements_20250830_235159/IMPROVEMENT_PLAN.md
  claude_improvements_20250830_235159/context.md
  claude_improvements_20250830_235159/error_handler.py
  claude_improvements_20250830_235159/repository_structure.txt
  claude_improvements_20250830_235159/test_example.py
  context.md
  error_handler.py
  repository_structure.txt
  test_example.py
Owners: @danieleschmidt, @terragonlabs/docs-team, @terragonlabs/core-team

feat: Add real working features
  src/data_pipeline.py
  src/ml_engine.py
Owners: @danieleschmidt, @terragonlabs/core-team
